# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart packages
.packages
.pub-cache/
.dart_tool/
build/
# Web-specific build outputs
app/build/
# Generated plugin build files
android/app/src/main/java/io/flutter/plugins/
android/.gradle
.flutter-plugins
.flutter-plugins-dependencies

# Android/Java files
*.apk
*.jar
*.keystore
*.jks
local.properties

# iOS/XCode files
*.app
*.ipa
*.mobileprovision
*.xcarchive
*.moved-aside
*.xcuserdatad
*.xcworkspace
build/
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/engine.framework
ios/Flutter/flutter_assets/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m

# Windows files
**/AppPackages/
**/Bundle/
**/bld/
**/bin/
**/obj/
